.home {
    background-image: url("https://img.freepik.com/free-photo/shopping-bag-cart_23-2148879372.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    filter: contrast(1.1) brightness(0.9);
    
   
}